  * {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    color:#000000;
}

body {
    background-color: #eaeaea;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

a {
    color:#F0810F;
    text-decoration: none;
}
  
  a:hover, a:focus {
    text-decoration: none;
}

  a:active {
    /* selected link */
    color: #063582;
}

.hero {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 70px;
  }

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

.page-header__item {
    flex: 0 1 200px;
  }

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }

.footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 85px;
}

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  .img_covid-pic, .img_art-pic {
    width: 15rem;
  }

 